

<div class="Header">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <div class="logo">
            <img src={logo} width="70" height="70" />
        </div>
        <a class="navbar-brand" href="#">UCSC Lab reservation Center Admin panel</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{username}}
            </a>

            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/logout">Logout</a>

            </div>
        </li>






    </nav>
</div>