<div class="Sidebar">

    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a  onClick="https://www.w3schools.com/html/" class="nav-link"  data-toggle="pill"  role="tab" aria-controls="v-pills-home" aria-selected="true">Home</a>
            <a  class="nav-link"   href="https://www.facebook.com/" role="tab" aria-controls="v-pills-home" aria-selected="true">Reservations</a>
            <a  class="nav-link"   href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Settings</a>
            <a  class="nav-link"   href="#v-pills-home"  aria-controls="v-pills-home" aria-selected="true">Clubs</a>

        </div>


    </div>
</div>