
{{# each reservations}}
    {{#unless this.is_accepted}}
        <div class="card text-center">
            <div class="card-header">
                {{this.hallname}}
            </div>
            <h2></h2>
           <div class="card-body">

                <p class="card-text">t{{this.reason}}</p>
               <h5 class="card-title">{{this.reserve_person}}</h5>
               <h5 class="card-title">3rd year student</h5>
                <a href="acceptReservation/{{this.id}}" class="btn btn-success">Accept</a>
                <a href="#" class="btn btn-danger">Reject</a>
            </div>
            <div class="card-footer text-muted">
               2018/06/22 &nbsp; &nbsp; 10am-12am
            </div>
    {{/unless}}

{{/each}}