
.modal-dialog {
    transform: translate(0, -50%);
    top: 50%;
    margin: 0 auto;
    padding: 0px 100px 0px 0px;
}

#x {
    position: absolute;
    background: #4a615a;
    color: white;
    top: 25px;
    right: 0px;
}

#modelbody{
    background: #9fa596;
}

.Modal {


}

#reservbtn{
    padding: 0px 0px 10px 225px;
}
